/* 
&display=swap
&subset=cyrillic-ext 
*/
html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

body {
	min-height: 100vh;
	/* font-family: 'Raleway', sans-serif; */
	font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

.flex {
	display: flex;
}

.title {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding-right: 48px;
	padding-bottom: 40px;
	color: #01353E;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 600;
	letter-spacing: 0.6px;
	text-transform: uppercase;
}

.title::after {
	content: "/";
	position: absolute;
	bottom: 0;
	right: 0;
	color: #00B2A0;
	font-family: 'Raleway', sans-serif;
	font-size: 72px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.6px;
}

/* ------------------------------ */

/* Header */
.header {
	height: 100vh;
	background: url('../images/header/header-bg.jpg') center center / cover no-repeat;
}

.header__top {
	align-items: center;
	padding-top: 35px;
}

.header__top-logo {
	margin-right: 185px;
}

.header__top-item:not(:last-child) {
	margin-right: 45px;
}

.header__top-link {
	padding: 0 1px 5px 1px;
	color: #FFF;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.6px;
	text-decoration: none;
	text-transform: uppercase;
	transition: border 0.3s ease-in-out;
}

.header__top-link:hover {
	border-bottom: 1px solid #00B2A0;
}

.header__content-inner {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 98px);
}

.header__content-title {
	margin-top: auto;
	color: #0D302C;
	font-family: 'Raleway', sans-serif;
	font-size: 200px;
	font-weight: 700;
	letter-spacing: 0.6px;
}

.header__content-subtitle {
	margin-bottom: auto;
	color: #000;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 0.6px;
}

.header__content-icon {
	margin-bottom: 92px;
}

/* About */
.about {
	padding: 189px 0 200px;
}

.about__heading {
	margin-bottom: 64px;
	text-align: center;
}

.about__inner {
	justify-content: space-between;
}

.about__left,
.about__right {
	max-width: 480px;
	color: #242121;
	font-size: 14px;
	font-weight: 300;
	line-height: 128.571%;
	letter-spacing: 0.6px;
}

.about__text {
	margin-bottom: 30px;
	min-height: 87px;
}

/* Get */
.get {
	padding: 200px 0;
	background-color: #F8F8F8;
}

.get__heading {
	margin-bottom: 72px;
	text-align: center;
}

.get__items {
	margin-bottom: 100px;
	justify-content: space-between;
}

.get__item {
	max-width: 350px;
}

.get__item-top {
	margin-bottom: 10px;
	align-items: center;
}

.get__item-img {
	margin-left: auto;
}

.get__item-title {
	margin-left: 10px;
	max-width: 155px;
	color: #242121;
	font-size: 24px;
	font-weight: 400;
	line-height: 116.667%;
	letter-spacing: 0.6px;
}

.get__item-text {
	color: #242121;
	font-size: 14px;
	font-weight: 300;
	line-height: 128.571%;
	letter-spacing: 0.6px;
}

.get__inner {
	justify-content: space-between;
}

.get__info {
	flex: 0 0 auto;
	width: 346px;
}

.get__content {
	max-width: 50%;
}

.get__info-item {
	padding-bottom: 18px;
	color: #242121;
	font-size: 14px;
	font-weight: 300;
	line-height: 128.571%;
	letter-spacing: 0.6px;
}

.get__info-procent {
	position: relative;
	display: block;
	color: #242121;
	font-size: 24px;
	font-weight: 400;
	line-height: 75%;
	letter-spacing: 0.6px;
}

.get__info-procent--first {
	padding-left: 210px;
}

.get__info-procent--first::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	height: 15px;
	background-image: url('../images/get/wawe1.svg');
}

.get__info-procent--second {
	padding-left: 257px;
}

.get__info-procent--second::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 247px;
	height: 15px;
	background-image: url('../images/get/wawe2.svg');
}

.get__info-procent--last {
	padding-left: 303px;
}

.get__info-procent--last::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 293px;
	height: 15px;
	background-image: url('../images/get/wawe3.svg');
}

.get__content {
	color: #242121;
	font-size: 14px;
	font-weight: 300;
	line-height: 128.571%;
	letter-spacing: 0.6px;
}

.get__content-text:not(:last-child) {
	margin-bottom: 30px;
}